extends layout

block content
        .padding-font
            h1 Data Hystory

            form.form-inline(method='GET' action='/history')
                label(for='date_start') Inizio:
                input.form-control.form-margin(id='date_start' name='date_start' type='datetime-local')
                label(for='date_end') Fine:
                input.form-control.form-margin(id='date_end' name='date_end' type='datetime-local')
                button.btn.btn-m.btn-primary.form-margin(type='submit') OK

            //Aggiungere un li per ogni tabella
            ul.nav.nav-tabs(role='tablist')
                li.nav-item
                    a.nav-link.active(data-toggle='tab' href='#temp') TEMPERATURA
                li.nav-item
                    a.nav-link(data-toggle='tab' href='#pres') PRESSIONE

        div.tab-content
            //Temperatura
            div.container.tab-pane.active(id='temp')
                table.table.table-bordered
                    thead
                        tr
                            th Stazione
                            th Valore
                            th Data

                    each item in temperatura
                        tr
                            td=item.StationName
                            td=item.Val
                            td=item.Stamp

            //Pressione
            div.container.tab-pane.fade(id='pres')
                table.table.table-bordered
                    thead
                        tr
                            th Stazione
                            th Valore
                            th Data

                    each item in pressione
                        tr
                            td=item.StationName
                            td=item.Val
                            td=item.Stamp