extends layout

block content
    h1.little-padding-bottom Data History

    form.form-inline.little-padding-bottom(method='GET' action='/history')
        label(for='station') Stazione:
        select.form-control.form-margin(id='station' name='station')
            option(value=0) Seleziona...
            each item in data.station
                if item.StationName === selected_station.StationName
                    option(value=item.Id selected) #{item.StationName} - #{item.Location}
                else
                    option(value=item.Id) #{item.StationName} - #{item.Location}

        label(for='date_start') Inizio:
        input.form-control.form-margin(id='date_start' name='date_start' type='datetime-local' value=date_start)
        label(for='date_end') Fine:
        input.form-control.form-margin(id='date_end' name='date_end' type='datetime-local' value=date_end)
        button.btn.btn-m.btn-primary.form-margin(type='submit') OK



    //Aggiungere un li per ogni tabella
    ul.nav.nav-tabs(role='tablist')
        li.nav-item
            a.nav-link.active(data-toggle='tab' href='#temp') TEMPERATURA
        li.nav-item
            a.nav-link(data-toggle='tab' href='#pres') PRESSIONE
        li.nav-item
            a.nav-link(data-toggle='tab' href='#hum') UMIDITA'
        li.nav-item
            a.nav-link(data-toggle='tab' href='#rain') PIOGGIA

    div.tab-content
        //Temperatura
        div.container.tab-pane.active(id='temp')

            canvas(canvas id="myChart" width="1000" height="400" style="border:1px solid #000000;")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')

            script.
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data_chart.stamp)},
                        datasets: [{
                            label: 'Temperatura °C',
                            data: [#{data_chart.temperature}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {responsive: false}
                });
                //myChart.resize(25, 25);
                // myChart.resize();
        table.table.table-bordered.margin-top
            thead
                tr.text-center
                    th Valore
                    th Data

            tbody
                each item in data.temperature
                    tr.text-center
                        td.align-middle=item.Val + ' °C'
                        td.align-middle=item.Stamp

        //Pressione
        div.container.tab-pane.fade(id='pres')
            table.table.table-bordered.margin-top
                thead
                    tr.text-center
                        th Valore
                        th Data

                tbody
                    each item in data.pressure
                        tr.text-center
                            td.align-middle=item.Val + ' Pa'
                            td.align-middle=item.Stamp

        //Umidità
        div.container.tab-pane.fade(id='hum')
            table.table.table-bordered.margin-top
                thead
                    tr.text-center
                        th Valore
                        th Data

                tbody
                    each item in data.humidity
                        tr.text-center
                            td.align-middle=item.Val + ' %'
                            td.align-middle=item.Stamp

        //Pioggia
        div.container.tab-pane.fade(id='rain')
            table.table.table-bordered.margin-top
                thead
                    tr.text-center
                        th Valore
                        th Data

                tbody
                    each item in data.rain
                        tr.text-center
                            td.align-middle=item.Val
                            td.align-middle=item.Stamp