extends layout

block content
    h1.little-padding-bottom(align = "center") STAZIONI METEO

    div.row
        each item in data
            div.container.font-size.col-10
                table.table.container
                    thead
                        tr.table-warning.text-center
                            th(colspan='2').
                                #{item.station} - #{item.location} - Altitudine: #{item.altitude} mslm -
                                Ultimo Aggiornamento: #{item.last_update}
                    tbody
                        if(item.temperature !== "N/A" && item.humidity !== "N/A")
                            tr.table-primary
                                th(colspan='2') Temperatura / Umidità
                            tr.table-danger
                                td(style="width: 50%")
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Temperatura: #{item.temperature}°C
                                td(style="width: 50%")
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Percepita: #{meteoUtils.humidex(item.temperature, item.humidity)}°C

                            tr.table-danger
                                td(style="width: 50%")
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Punto di Rugiada: #{meteoUtils.dewPoint(item.temperature, item.humidity)}°C
                                td(style="width: 50%")
                                    i.wi.wi-humidity.d-inline
                                    p.d-inline Umidità: #{item.humidity}%

                        if(item.pressure !== "N/A")
                            tr.table-primary
                                th(colspan='2') Pressione Atmosferica
                            tr.table-success
                                td(style="width: 50%")
                                    i.wi.wi-barometer.d-inline
                                    p.d-inline Pressione: #{Math.round(item.pressure) / 100} hPa
                                td(style="width: 50%")
                                    i.wi.wi-barometer.d-inline
                                    p.d-inline Mare: #{Math.round(meteoUtils.seaLevelPressure(item.pressure, item.altitude)) / 100} hPa

                        if(item.rain !== "N/A")
                            tr.table-primary
                                th(colspan='2') Pioggia
                            tr.table-info
                                if(item.rain == 0)
                                    td(style="width: 50%" colspan='2')
                                        i.wi.wi-day-sunny.d-inline
                                        p.d-inline Non Piove
                                if(item.rain == 1)
                                    td(style="width: 50%" colspan='2')
                                        i.wi.wi-showers.d-inline
                                        p.d-inline Piove

                        if(item.wind !== "N/A")
                            tr.table-primary
                                th(colspan='2') Vento
                            tr.table-active
                                td(style="width: 50%")
                                    i.wi.wi-strong-wind.d-inline
                                    p.d-inline Velocità: #{item.wind.speed} Km/h
                                td(style="width: 50%")
                                    i.wi.wi-wind.towards-23-deg.d-inline
                                    p.d-inline Direzione: #{item.wind.direction}°
