extends layout

block content
    .padding-font
        h1= title
        p Welcome to #{title}

        each item in data
            p Nome #{item.station} - #{item.location} <br> Temperatura #{item.temperature} <br> Pressione  #{item.pressure} <br> Umidità  #{item.humidity} <br> Pioggia  #{item.rain}


