extends layout

block content
    .padding-font
        h1= title
        p Welcome to #{title}
        p Temperatura: #{temperatura}
        p Pressione: #{pressione}
        p Umidità: #{humidity}

