extends ../layout

block content
    div.padding-base
        h1.text-center Configurazione
        ul.nav.nav-tabs(role='tablist')
            li.nav-item
                a.nav-link.active(data-toggle='tab' href='#stat') Stazioni
            li.nav-item
                a.nav-link(data-toggle='tab' href='#user') Utenti
                
            li.nav-item
                a.nav-link(data-toggle='tab' href='#firmware_update') Aggiornamenti Firmware

        div.tab-content
            //Pannello stazioni
            div.tab-pane.active(id='stat')
                div.row.justify-content-md-center.little-margin-top
                    form.form-row.padding-bottom(method='POST' action='/config/station/new_station')
                        div.col-auto.form-group
                            label(for='StationName') Nome:
                            input.form-control(id='StationName' name='StationName' type='text' placeholder= 'Inserisci Nome' style="width: 200px;")
                        div.col-auto.form-group
                            label(for='Location') Luogo:
                            input.form-control(id='Location' name='Location' type='text' placeholder= 'Inserisci Luogo' style="width: 200px;")
                        div.col-auto.form-group
                            label(for='Latitude') Latitudine:
                            input.form-control(id='Latitude' name='Latitude' type='text' placeholder= 'Inserisci Lat.' style="width: 200px;")
                        div.col-auto.form-group
                            label(for='Longitude') Longitudine:
                            input.form-control(id='Longitude' name='Longitude' type='text' placeholder= 'Inserisci Long.' style="width: 200px;")
                        div.col-auto.form-group
                            label(for='Altitude') Altitudine:
                            input.form-control(id='Altitude' name='Altitude' type='text' placeholder= 'Inserisci Altitudine' style="width: 200px;")
                        div.col-auto.form-group
                            button.btn.btn-m.btn-primary(type='submit' style='margin-top: 32px;') CREA


                table.table.table-bordered
                    thead
                        tr.text-center
                            th ID
                            th Nome
                            th Luogo
                            th.d-none Latitudine
                            th.d-none Longitudine
                            th Altitudine
                            th Modello
                            th Vers. F.
                            th Ultimo Agg.
                            th Token
                            th Modifica

                    each item in station
                        tr.text-center
                            td.align-middle#thId=item.id
                            td.align-middle#thName=item.name
                            td.align-middle#thLocation=item.location
                            td.align-middle#thLatitude.d-none=item.latitude
                            td.align-middle#thLongitude.d-none=item.longitude
                            td.align-middle#thAltitude=item.altitude
                            td.align-middle#thModel=item.model
                            td.align-middle#thFirmwareVersion=item.firmware_version
                            td.align-middle=moment.utc(item.last_update).format("D/M/Y H:mm")
                            td.align-middle#thToken=item.token
                            td
                                div
                                    button.btn.btn-sm.btn-info.form-margin.d-inline.modifyButton.deleteButton(style="width: 100px;") MODIFICA
                                    form.form-inline.d-inline(method='POST' action='/config/station/delete_station')
                                        input.form-control.form-margin.d-inline(name='Id' type='hidden' value=item.id )
                                        button.btn.btn-sm.btn-danger.form-margin.d-inline(type='submit' style="width: 100px; margin-top: 4px;") ELIMINA

                        div.modal.fade(id="modifyModal" role="dialog")
                            script.
                                $(".modifyButton").click(function (e) {
                                    $("#modifyModal").modal()

                                    $("#ModifyId").val($(event.target).closest('tr').find("#thId").text());
                                    $("#ModifyStationName").val($(event.target).closest('tr').find("#thName").text());
                                    $("#ModifyLocation").val($(event.target).closest('tr').find("#thLocation").text());
                                    $("#ModifyLatitude").val($(event.target).closest('tr').find("#thLatitude").text());
                                    $("#ModifyLongitude").val($(event.target).closest('tr').find("#thLongitude").text());
                                    $("#ModifyAltitude").val($(event.target).closest('tr').find("#thAltitude").text());
                                })

                            div.modal-dialog
                                div.modal-content
                                    div.modal-header
                                        h4.modal-title Modifica Stazione
                                        button.close(data-dismiss="modal") X
                                    div.modal-body
                                        div.container.tab-pane.active(id='stat')
                                            form.form-inline(method='POST' action='/config/station/modify_station')
                                                input.form-control.form-margin.d-inline(id='ModifyId' name='ModifyId' type='hidden')
                                                label(for='ModifyStationName') Nome:
                                                input.form-control.form-margin(id='ModifyStationName' name='ModifyStationName' type='text')

                                                label(for='ModifyLocation').little-margin-top Luogo:
                                                input.form-control.form-margin(id='ModifyLocation' name='ModifyLocation' type='text')

                                                label(for='ModifyLatitude').little-margin-top Latitudine:
                                                input.form-control.form-margin(id='ModifyLatitude' name='ModifyLatitude' type='text')

                                                label(for='ModifyLongitude').little-margin-top Longitudine:
                                                input.form-control.form-margin(id='ModifyLongitude' name='ModifyLongitude' type='text')

                                                label(for='ModifyAltitude').little-margin-top Altitudine:
                                                input.form-control.form-margin(id='ModifyAltitude' name='ModifyAltitude' type='text')

                                                button.btn.btn-m.btn-primary.form-control.form-margin.little-margin-top(type='submit' style="width: 100px;") Modifica

            //Pannello utenti
            div.tab-pane(id='user')
                div.row.justify-content-md-center.little-margin-top
                    form.form-row.padding-bottom(method='POST' action='/user/new_user')
                        div.col-auto.form-group
                            label(for='Email') Email:
                            input.form-control(id='Email' name='Email' type='text' placeholder= 'Inserisci email')
                        div.col-auto.form-group
                            label(for='Name') Nome:
                            input.form-control(id='Name' name='Name' type='text' placeholder= 'Inserisci nome')
                        div.col-auto.form-group
                            label(for='Password') Password:
                            input.form-control(id='Password' name='Password' type='password' placeholder= 'Inserisci password')
                        div.col-auto.form-group
                            label(for='PasswordConfirm') Conferma Password:
                            input.form-control(id='PasswordConfirm' name='PasswordConfirm' type='password' placeholder= 'Reinserisci password')
                        div.col-auto.form-group
                            label(for='Name') Admin:
                            input.form-control(id='Admin' name='Admin' type='checkbox' placeholder= 'Admin')
                        div.col-auto.form-group
                            button.btn.btn-m.btn-primary(type='submit' style='margin-top: 32px;') CREA

                table.table.table-bordered
                    thead
                        tr.text-center
                            th ID
                            th Email
                            th Nome
                            th Admin
                            th Modifica

                    each item in user
                        tr.text-center
                            td.align-middle#thUserId=item.id
                            td.align-middle#thUserEmail=item.email
                            td.align-middle#thUserName=item.name
                            td.align-middle#thUserAdmin=item.admin
                            td
                                div
                                    button.btn.btn-sm.btn-info.form-margin.d-inline.modifyUserButton.deleteButton(style="width: 100px;") MODIFICA
                                    form.form-inline.d-inline(method='POST' action='/user/delete_user')
                                        input.form-control.form-margin.d-inline(name='UserId' type='hidden' value=item.id)
                                        button.btn.btn-sm.btn-danger.form-margin.d-inline(type='submit' style="width: 100px;") ELIMINA

                        div.modal.fade(id="userModal" role="dialog")
                            script.
                                $(".modifyUserButton").click(function (e) {
                                    $("#userModal").modal()
                                    $("#ModifyUserId").val($(event.target).closest('tr').find("#thUserId").text());
                                    $("#ModifyUserName").val($(event.target).closest('tr').find("#thUserName").text());

                                    if ($(event.target).closest('tr').find("#thUserAdmin").text().toString() === 'true') {
                                        $("#ModifyUserAdmin").prop("checked", true);
                                    }
                                    $("#ModifyUserEmail").val($(event.target).closest('tr').find("#thUserEmail").text());
                                })
                            div.modal-dialog
                                div.modal-content
                                    div.modal-header
                                        h4.modal-title Modifica
                                        button.close(data-dismiss="modal") X
                                    div.modal-body
                                        div.container.tab-pane.active(id='stat')
                                            form.form-inline(method='POST' action='/user/modify_user')
                                                input.form-control.form-margin.d-inline(id='ModifyUserId' name='ModifyUserId' type='text')
                                                label(for='ModifyUserName') Nome:
                                                input.form-control.form-margin(id='ModifyUserName' name='ModifyUserName' type='text')

                                                label(for='ModifyUserEmail').little-margin-top Email:
                                                input.form-control.form-margin(id='ModifyUserEmail' name='ModifyUserEmail' type='mail')

                                                label(for='ModifyUserAdmin').little-margin-top Admin:
                                                input.form-control.form-margin(id='ModifyUserAdmin' name='ModifyUserAdmin' type='checkbox')

                                                label(for='ModifyUserPassword').little-margin-top Password:
                                                input.form-control.form-margin(id='ModifyUserPassword' name='ModifyUserPassword' type='password')

                                                label(for='ModifyUserPasswordConfirm').little-margin-top Conferma Password:
                                                input.form-control.form-margin(id='ModifyUserPasswordConfirm' name='ModifyUserPasswordConfirm' type='password')

                                                button.btn.btn-m.btn-primary.form-control.form-margin.little-margin-top(type='submit' style="width: 100px;") Modifica

            //Pannello Aggiornamenti
            div.tab-pane(id='firmware_update')
                div.row.justify-content-md-center.little-margin-top
                    form.form-row.padding-bottom(method='POST' action='/config/firmware_update/new_update' enctype="multipart/form-data")
                        div.col-auto.form-group
                            label(for='Model') Modello:
                            input.form-control(id='Model' name='Model' type='text' placeholder= 'Inserisci Modello')
                        div.col-auto.form-group
                            label(for='Version') Versione:
                            input.form-control(id='Version' name='Version' type='text' placeholder= 'Inserisci Versione')
                        div.col-auto.form-group
                            label(for='File') File:
                            input.form-control(id='File' name='File' type='file')
                        
                        div.col-auto.form-group
                            button.btn.btn-m.btn-primary(type='submit' style='margin-top: 32px;') CREA

                table.table.table-bordered
                    thead
                        tr.text-center
                            th.d-none Id
                            th Modello
                            th Versione
                            th.d-none Percorso
                            th Data
                            th Modifica

                    each item in update
                        tr.text-center
                            td.align-middle.d-none=item.id
                            td.align-middle=item.model
                            td.align-middle=item.version
                            td.align-middle.d-none=item.file_name
                            td.align-middle=moment.utc(item.stamp).format("D/M/Y H:mm")
                            td
                                div
                                    form.form-inline.d-inline(method='POST' action='/config/firmware_update/delete_update')
                                        input.form-control.form-margin.d-inline(name='Id' type='hidden' value=item.id )
                                        button.btn.btn-sm.btn-danger.form-margin.d-inline(type='submit' style="width: 100px;") ELIMINA
