extends m_layout

block content
    style.
        body {
            background-color: rgb(44, 47, 51);
        }

        h1 {
            color: White;
            font-size: 2em;
        }

    h1.padding-base.little-padding-bottom(align = "center") STAZIONI METEO
    each item in data
        div.row(style="width: 100vw; margin: 0; padding: 0; padding-bottom: 25px;")
            table.table.table-dark.container(style="font-size: 80%")
                if(dateConvert.checkOnline(item.last_update))
                    thead.bg-success
                        tr.text-center
                            th(colspan='2').
                                #{item.station} - #{item.location} - Altitudine: #{item.altitude} mslm -
                                Agg.: #{item.last_update} ONLINE
                else
                    thead.bg-danger
                        tr.text-center
                            th(colspan='2').
                                #{item.station} - #{item.location} - Altitudine: #{item.altitude} mslm -
                                Agg: #{item.last_update} OFFLINE

                tbody
                    if(item.temperature !== "N/A")
                        tr
                            th(colspan='2') Temperatura / Umidità
                        tr
                            td(style="width: 50%")
                                i.wi.wi-thermometer.d-inline
                                p(style="padding-right: 5px;").d-inline Temperatura: #{item.temperature}°C

                                if(parseInt(item.temperature_trend) < -5)
                                    i.wi.wi-direction-down.text-info
                                else if(parseInt(item.temperature_trend) < -1)
                                    i.wi.wi-direction-down-right.text-info
                                else if(parseInt(item.temperature_trend) < 0)
                                    i.wi.wi-direction-right.text-success
                                else if(parseInt(item.temperature_trend) < 1)
                                    i.wi.wi-direction-right.text-success
                                else if(parseInt(item.temperature_trend) < 5)
                                    i.wi.wi-direction-up-right.text-danger
                                else
                                    i.wi.wi-direction-up.text-danger

                            if(item.humidity !== "N/A" && item.temperature > 10)
                                td(style="width: 50%")
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Percepita: #{item.humidex}°C

                            else if (item.wind !== "N/A")
                                td(style="width: 50%")
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Percepita: #{item.windchill}°C
                        tr
                            if(item.min_temperature !== "N/A" && item.max_temperature !== "N/A")
                                td(style="width: 50%").text-info
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Min: #{item.min_temperature}°C
                                td(style="width: 50%").text-danger
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Max: #{item.max_temperature}°C
                            else
                                td(colspan='2')
                                    i.wi.wi-thermometer.d-inline
                                    p.d-inline Massime / Minime odierne non disponibili

                    if(item.humidity !== "N/A")
                        tr
                            td(style="width: 50%")
                                i.wi.wi-humidity.d-inline
                                p.d-inline Umidità: #{item.humidity}%
                            td(style="width: 50%")
                                i.wi.wi-thermometer.d-inline
                                p.d-inline P. Rugiada: #{item.dew_point}°C

                    if(item.pressure !== "N/A")
                        tr
                            th(colspan='2') Pressione Atmosferica
                        tr
                            td(style="width: 50%")
                                i.wi.wi-barometer.d-inline
                                p(style="padding-right: 5px;").d-inline Pres: #{item.pressure} hPa

                                if(parseInt(item.pressure_diff) < -2)
                                    i.wi.wi-direction-down.text-info
                                else if(parseInt(item.pressure_trend) < -1)
                                    i.wi.wi-direction-down-right.text-info
                                else if(parseInt(item.pressure_trend) < 0)
                                    i.wi.wi-direction-right.text-success
                                else if(parseInt(item.pressure_trend) < 1)
                                    i.wi.wi-direction-right.text-success
                                else if(parseInt(item.pressure_trend) < 2)
                                    i.wi.wi-direction-up-right.text-danger
                                else
                                    i.wi.wi-direction-up.text-danger

                            td(style="width: 50%")
                                i.wi.wi-barometer.d-inline
                                p.d-inline S.L.M: #{item.sea_level_pressure} hPa

                        tr
                            th(colspan='2') Previsione Meteo
                        tr
                            td
                                p.d-inline #{item.forecast.forecast_phrase_it}

                    if(item.rain_last !== "N/A" && item.rain_sum !== "N/A")
                        tr
                            th(colspan='2') Pioggia
                        tr
                            if(item.rain_last === 0)
                                td(style="width: 50%")
                                    i.wi.wi-day-sunny.d-inline
                                    p.d-inline Non Piove
                            else
                                td(style="width: 50%")
                                    i.wi.wi-showers.d-inline
                                    if(item.rain_hour <= 1)
                                        p.d-inline Pioviggine: #{item.rain_hour} mm
                                    else if(item.rain_hour <= 2)
                                        p.d-inline Pioggia Debole: #{item.rain_hour} mm
                                    else if(item.rain_hour <= 5)
                                        p.d-inline Pioggia Moderata: #{item.rain_hour} mm
                                    else if(item.rain_hour <= 10)
                                        p.d-inline Pioggia Forte: #{item.rain_hour} mm
                                    else if(item.rain_hour <= 30)
                                        p.d-inline Rovescio: #{item.rain_hour} mm
                                    else if(item.rain_hour > 30)
                                        p.d-inline Nubifragio:#{item.rain_hour} mm

                            td(style="width: 50%")
                                i.wi.wi-showers.d-inline
                                p.d-inline Ultime 24 Ore: #{item.rain_day} mm

                    if(item.wind !== "N/A")
                        tr
                            th(colspan='2') Vento
                        tr
                            td(style="width: 50%")
                                i.wi.wi-strong-wind.d-inline
                                p.d-inline Velocità: #{item.wind.speed} Km/h
                            td(style="width: 50%")
                                i.wi.wi-wind.towards-23-deg.d-inline
                                p.d-inline Direzione: #{item.wind.cardinal_direction}

                    if(item.lighting !== "N/A")
                        tr
                            th(colspan='2') Ultimo Fulmine
                        tr
                            td(style="width: 50%")
                                i.wi.wi-time-1.d-inline
                                p.d-inline Ora: #{item.lighting.stamp}
                            td(style="width: 50%")
                                i.wi.wi-lightning.d-inline
                                p.d-inline Distance: #{item.lighting.distance} Km

                    if(item.air_quality !== "N/A")
                            tr
                                th(colspan='2') Qualità dell'Aria (Media Giornaliera)
                            tr
                                td(style="width: 50%")
                                    i.wi.wi-smog.d-inline
                                    p.d-inline PM 2.5: #{item.air_quality.PM25} ug/m^3 (Limite: 25 ug/m^3)
                                td(style="width: 50%")
                                    i.wi.wi-smog.d-inline
                                    p.d-inline PM 10: #{item.air_quality.PM10} ug/m^3 (Limite: 50 ug/m^3)
                            tr
                                - var iqa = item.air_quality.iqa
                                if(iqa == 0)
                                    td(colspan='2')
                                        p.text-danger IQA: Molto Scarsa
                                if(iqa == 1)
                                    td(colspan='2')
                                        p.text-danger IQA: Scarsa 
                                if(iqa == 2)
                                    td(colspan='2')
                                        p.text-warning IQA: Accettabile 
                                if(iqa == 3)
                                    td(colspan='2')
                                        p.text-success IQA: Buona
                                if(iqa == 4)
                                    td(colspan='2')
                                        p.text-success IQA: Molto Buona
