extends history

block data

    // per esportare in png
        function ex(){
            var canvas = document.getElementById('TemperatureChart');
            var dataURL = canvas.toDataURL('image/png', 1.0);
            window.open(dataURL, height=50, width=100)
        }

    div.row
        //TEMPERATURE
        if(data.temperature !== 'N/A')
            canvas.col-6(id="TemperatureChart")
            script.
                var ctx = document.getElementById("TemperatureChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.temperature.stamp)},
                        datasets: [{
                            label: 'Valore (°C)',
                            data: [#{data.temperature.val}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'TEMPERATURA'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                },
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: '°C'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }
                            }]
                        }
                    }
                });
        
        //HUMIDITY
        if(data.humidity !== 'N/A')
            canvas.col-6(id="HumidityChart")
            script.
                var ctx = document.getElementById("HumidityChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.humidity.stamp)},
                        datasets: [{
                            label: 'Relativa (%)',
                            data: [#{data.humidity.val}],
                            backgroundColor: [
                                'rgba(255, 206, 86, 0.2)' //Giallo
                            ],
                            borderColor: [
                                'rgba(255, 206, 86, 1)' //Giallo
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'UMIDITA\''
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: 'grey'
                                },
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: '%'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });

        //PRESSURE
        if(data.pressure !== 'N/A')
            canvas.col-6(id="PressureChart")
            script.
                var ctx = document.getElementById("PressureChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.pressure.stamp)},
                        datasets: [{
                            label: ' Sea Level (hPa / mbar)',
                            data: [#{data.pressure.val}],
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'PRESSIONE'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                },
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'hPa / mbar'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });

        //RAIN
        if(data.rain !== 'N/A')
            canvas.col-6(id = "RainChart")
            script.
                var ctx = document.getElementById("RainChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.rain.stamp)},
                        datasets: [{
                            label: 'Pioggia (mm)',
                            data: [#{data.rain.val}],
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'PIOGGIA Tot Periodo: #{data.rain.total_rainfall} mm'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: 'grey'
                                },
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'mm'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });

        //WIND
        if(data.wind !== 'N/A')
            canvas.col-6(id = "WindChart")
            script.
                var ctx = document.getElementById("WindChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.wind.stamp)},
                        datasets: [{
                            label: 'Velocità (Km/h)',
                            data: [#{data.wind.speed}],
                            backgroundColor: [
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1,
                            yAxisID: 'y-axis-1'
                        },
                            {
                                label: 'Direzione (N°)',
                                data: [#{data.wind.direction}],
                                backgroundColor: [
                                    'rgba(54, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(54, 102, 255, 1)'
                                ],
                                borderWidth: 1,
                                yAxisID: 'y-axis-2',
                                showLine: false
                            }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'VENTO'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'Km/h'
                                }
                            }, {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'N°'
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });

        //Fulmini
        if(data.lighting !== 'N/A')
            canvas.col-6(id = "LightingChart")
            script.
                var ctx = document.getElementById("LightingChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.lighting.stamp)},
                        datasets: [{
                            label: 'Distanza (Km)',
                            data: [#{data.lighting.distance}],
                            backgroundColor: [
                                'rgba(249, 129, 54, 0.2)'
                            ],
                            borderColor: [
                                'rgba(249, 129, 54, 1)'
                            ],
                            borderWidth: 1,
                            showLine: false
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'FULMINI'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: 'grey'
                                },
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'Km'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });

        //AIR QUALITY
        if(data.air_quality !== 'N/A')
            canvas.col-6(id = "AirQualityChart")
            script.
                var ctx = document.getElementById("AirQualityChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: !{JSON.stringify(data.air_quality.stamp)},
                        datasets: [{
                            label: 'PM 2.5 (ug/m^3)',
                            data: [#{data.air_quality.PM25}],
                            backgroundColor: [
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1,
                            yAxisID: 'y-axis-1'
                        },
                        {
                            label: 'PM 10 (ug/m^3)',
                            data: [#{data.air_quality.PM10}],
                            backgroundColor: [
                                'rgba(54, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(54, 102, 255, 1)'
                            ],
                            borderWidth: 1,
                            yAxisID: 'y-axis-2'
                            //showLine: false
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontColor: 'black',
                            fontSize: 18,
                            text: 'AIR QUALITY'
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontColor: 'grey'
                            }
                        },
                        scales: {
                            yAxes: [{
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'ug/m^3'
                                }
                            }, {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',
                                scaleLabel: {
                                    display: true,
                                    fontColor: 'grey',
                                    labelString: 'ug/m^3'
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'grey'
                                }

                            }]
                        }
                    }
                });