extends ../layout

block content
    //h2.little-padding-bottom Data History

    div.padding-base
        form.form-inline.little-padding-bottom(method='GET' action='/history')
            label(for='station_id') Stazione:
            select.form-control.form-margin(id='station_id' name='station_id')
                if !data 
                    option(value=0) Seleziona...
                each item in station
                    if data && item.name === data.name
                        option(value=item.id selected) #{item.name} - #{item.location}
                    else
                        option(value=item.id) #{item.name} - #{item.location}

            label(for='date_start') Inizio:
            input.form-control.form-margin(id='date_start' name='date_start' type='text' value=date_start)
            label(for='date_end') Fine:
            input.form-control.form-margin(id='date_end' name='date_end' type='text' value=date_end)
            select.form-control.form-margin(id='type' name='type')
                if type === 0
                    option(value=0 selected) Grafici
                    option(value=1) Tabelle
                else if type === 1
                    option(value=0) Grafici
                    option(value=1 selected) Tabelle
                else
                    option(value=0 selected) Grafici
                    option(value=1) Tabelle
            button.btn.btn-m.btn-primary.form-margin(type='submit') OK

        block data