extends history

block data
    
    //Aggiungere un li per ogni tabella
    ul.nav.nav-tabs(role='tablist')
        if data.temperature !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#temp') TEMPERATURA
       
        if data.humidity !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#hum') UMIDITA'
        
        if data.pressure !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#pres') PRESSIONE
        
        if data.rain !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#rain') PIOGGIA

        if data.wind !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#wind') VENTO

        if data.lighting !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#lighting') FULMINI

        if data.air_quality !== 'N/A'
            li.nav-index
                a.nav-link(data-toggle='tab' href='#air_quality') AIR QUALITY

    div.tab-content
        //Temperatura
        div.container.tab-pane(id='temp')
            if data.temperature !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Valore
                            th Data
                    tbody
                        each t, index in data.temperature.val
                            tr.text-center
                                td(style="width: 50%").align-middle=data.temperature.val[index] + ' °C'
                                td(style="width: 50%").align-middle=data.temperature.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Temperature')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.temperature.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile


        //Umidità
        div.container.tab-pane.fade(id='hum')
            if data.humidity !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Valore
                            th Data
                    tbody
                        each t, index in data.humidity.val
                            tr.text-center
                                td(style="width: 50%").align-middle=data.humidity.val[index] + ' %'
                                td(style="width: 50%").align-middle=data.humidity.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Humidity')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.humidity.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile
        
        //Pressione
        div.container.tab-pane.fade(id='pres')
            if data.pressure !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Valore
                            th Data
                    tbody
                        each t, index in data.pressure.val
                            tr.text-center
                                td(style="width: 50%").align-middle=data.pressure.val[index] + 'hPa'
                                td(style="width: 50%").align-middle=data.pressure.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Pressure')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.pressure.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile

        //Pioggia
        div.container.tab-pane.fade(id='rain')
            if data.rain !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Valore
                            th Data
                    tbody
                        each t, index in data.rain.val
                            tr.text-center
                                td(style="width: 50%").align-middle=data.rain.val[index] + ' mm'
                                td(style="width: 50%").align-middle=data.rain.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Rain')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.rain.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile

        //Vento
        div.container.tab-pane.fade(id='wind')
            if data.wind !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Velocità
                            th Direzione
                            th Data
                    tbody
                        each t, index in data.wind.speed
                            tr.text-center
                                td(style="width: 33%").align-middle=data.wind.speed[index] + ' Km/h'
                                td(style="width: 33%").align-middle=data.wind.direction[index]
                                td(style="width: 33%").align-middle=data.wind.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Wind')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.wind.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile

        //Fulmini
        div.container.tab-pane.fade(id='lighting')
            if data.lighting !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th Distanza
                            th Data
                    tbody
                        each t, index in data.lighting.val
                            tr.text-center
                                td(style="width: 50%").align-middle=data.lighting.val[index] + ' Km'
                                td(style="width: 50%").align-middle=data.lighting.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='Lighting')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.lighting.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile

        //AIR QUALITY
        div.container.tab-pane.fade(id='air_quality')
            if data.air_quality !== 'N/A'
                table.table.table-bordered.margin-top
                    thead
                        tr.text-center
                            th PM 2.5
                            th PM 10
                            th Data
                    tbody
                        each t, index in data.air_quality.PM25
                            tr.text-center
                                td(style="width: 33%").align-middle=data.air_quality.PM25[index]
                                td(style="width: 33%").align-middle=data.air_quality.PM10[index]
                                td(style="width: 33%").align-middle=data.air_quality.stamp[index]
                                if logged_user && logged_user.Admin === 'true'
                                    td
                                        form(method='POST' action='/config/delete_data')
                                            input(id='Type' name='Type' type='hidden' value='AirQuality')
                                            input(id='Id' name='Id' type='hidden' value=`${data.id}`)
                                            input(id='Stamp' name='Stamp' type='hidden' value=`${data.air_quality.stamp[index]}`)
                                            button.btn.btn-m.btn-danger(type='submit' style="width: 100px;") ELIMINA
            else
                p.margin-top nessun dato disponibile